.App {
  text-align: center;
 
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
 .body{
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
 }

 * {
  box-sizing: border-box;
}


/*CSS Nav*/
.navbar-container{
  
  float: right;
  width: 80%;
  margin-bottom: 40px;
  text-align: center;
  margin-bottom: 40px;
}

.nav  ul{
  list-style: none;
}

.navbar-container nav {
  
  width: 80%;
  background-color: rgb(192, 196, 204);
  padding: 3px;
  margin-left: 50px;
  border-radius: 0.5rem;
  text-align: center;
  
}

.navbar-container nav ul{
  text-align: left;
  
}

nav ul li {
  font-size: 20px;
}

nav li{
  display: inline-block;
  list-style: none;
  margin-right: 20px;
}

nav li a{
  display: inline-block;
  padding: 5px;
  color: rgb(14, 13, 13);
  text-decoration: none;
  font-family:Georgia, 'Times New Roman', Times, serif;

}

a:visited{
  color:rgb(29, 28, 26);
}

a:hover{
  color: rgb(170, 12, 78);

}

a:active{
  color:rgb(153, 11, 35);
}

/* CSS About*/

.about-container{
  text-align: center;
  color: rgb(2, 2, 2);
  margin-top: 50px;
  width: 65%;
  margin: auto;
  height: fit-content;
  margin-top: 80px;
  overflow: auto;
  margin-right: 250px; 
}

.description{
  width: 80%;
  margin: auto;
  text-align: justify;
  font-size: 18px;
  margin-bottom: 40px;
  margin-top: 25px;
  margin-left: 70px;
  
}

.title-tech{
  margin-top: 25px;
}

.container-technologies{
  
  margin: auto;
  width: 60%;
  text-align: center;
  margin-top: 30px;

}



.img-tech{

  margin-top: 30px;
  margin-right: 15px;
  width: 80px;
  height: 80px;
  margin-top: 15px;
}
.img-looker, .img-bq, .img-mysql, .img-mongo{

  margin-right: 10px;
  margin-left: 15px;
}
.img-mysql{
  margin-bottom: 5px;
}

/*CSS projects*/
.container-projects{
  
  width: 80%;
  text-align: center;
  margin: auto;
  
}
.container-cards {

  margin: auto;
  text-align: center;
  width: 80%;
  display: grid;
  grid-gap: 30px;
  margin-left: 70px;
  grid-template-columns: repeat(3, minmax(230px, 1fr));
}

.card-project {
  box-sizing: border-box;
  padding: 2px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  text-align: center;
  transition: transform 0.3s ease;
  max-width: 90%;
  font-weight: bold;
}

.card-project:hover {

  transform: scale(1.1);
 
}


.container-projects{

  text-align: center;
  display: flex;
  flex-direction: column;
  flex: 1;
  
}
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.img-card {

  width: 100%;
  margin-top: 10px;
  object-fit: cover;
  border:solid 1px;

}

/*CSS Modal*/

.img-card-modal {
  width: 60%;
  margin-top: 10px;
  object-fit: cover;
  margin:auto;
  
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
 
}

.modal-content {
  background-color: white;
  width: 50%; 
  height: 70%;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  position: relative;
  overflow: auto;
  text-align: justify;
  
}

.container-buttons{

  display: inline-block; 
  margin: 10px 0;
  text-align: center;
}
.button-details{
 
 width: 100%;
 padding: 8px;
 background-color: rgb(126, 63, 82);
 color: white;
 font-size: 17px;
 border-radius: 0.5rem;

}

.close-modal{
  
   right: 10px;
   background-color: rgb(126, 63, 82);
   color: white;
   margin: auto;
   padding: 8px;
   border-radius: 0.5rem;
   font-size: 17px;

 }

 .button-source{
  margin: auto;
  padding: 8px;
  background-color: rgb(126, 63, 82);
  color: white;
 font-size: 17px;
 border-radius: 0.5rem;
}

.description-modal{
  font-size: 16px;
  justify-content:center;
  margin-top: 20px;
  margin-left: 15px;
  margin-right: 15px;

}

.tittle-project-modal{
  margin: auto;
}

.carrusel{
  text-align: center;
}
.message{
  font-style: italic;
  
}
/*Home*/

.main-content-home{
  margin-top: 50px;
 
}

.card-presentation{
  
  float:left;
  width: 18%;  
}
.card-description{
  background-color: rgb(18, 73, 95);
  border-radius: 0.5rem;
  margin-left: 20px;
  text-align: center;
  margin-top: 5px;
  height: 500px;
  padding: 5px;
  color: white;
  
}

.card-contact{
  background-color: rgb(204, 229, 236);
  background-color: rgb(192, 196, 204);
  border-radius: 0.5rem;
  margin-left: 20px;
  text-align: left;
  margin-top: 5px;
  height: 200px;
  padding: 5px;
  margin-top: 20px; 
}

.img-profile{

  width: 180px; 
  height: 180px; 
  border-radius: 50%;
  margin-top: 15px;
  
}
.img-contact{

  display:inline-block;
  margin-bottom: 5px;
  vertical-align: middle;
  margin-right: 20px;
  margin-left: 20px;
}

.img-contact2{

  display:inline-block;
  margin-bottom: 5px;
  vertical-align: middle;
  margin-right: 10px;
  margin-left: 20px;
 
}
.list-languages{
  text-align: left;
 
  margin-bottom: 30px;
}

.subtitle-lang, .subtitle-contact{
  margin-left: 15px;
}
.img-location{
  vertical-align:auto;
  margin-right: 10px;
}

/*Work*/

.work-container{
  text-align: center;
  color: rgb(2, 2, 2);
  margin-top: 80px;
  width: 60%;
  margin: auto;
 
    
}
.work-place{
  margin: auto;
  width: 90%;
  
  text-align:left ;

}
.work-place1{
  margin: auto;
  width: 90%;
  
  text-align:left ;

}
.img-minsait,.img-zelkhara{
  float: left;
  width: 25%;
}

.img-zelkhara{
  margin-top: 25px;
}
.desc-role{
  float: left;
  width: 70%;
  margin-left: 30px;
  text-align: justify;
 
}


/*Mediaqueries*/



@media (max-width: 1024px) {

  /*Nav*/
  .navbar-container{
  
    float: right;
    width: 75%;
    margin-bottom: 40px;
    text-align: left;
   
  }

  .navbar-container nav {
  
    width: 80%;
    background-color: rgb(192, 196, 204);
    padding: 3px;
    margin-left: 30px;
    border-radius: 0.5rem;
    text-align: center;
    
  }  

 
  
  /*Home*/
  .card-presentation{
    float:left;
    width: 25%;
    height: max-content;
  }
  .card-contact{
    height: max-content;
    margin-bottom: 10px;
    padding: 5px;
  }
  .card-description{
    padding: 15px;
    height: max-content;
    width: auto;
  }

  .img-profile{
    width: 80%;  
    border-radius: 50%;
    margin-top: 15px;
    
  }
  .profile, .title-tech{
    font-size: 18px;
  }

  /*About*/
  .about-container{
    width: 70%;
    margin-right: 80px;
    
  }
  .description{
    width: 80%;
    margin: auto;
    text-align: justify;
    margin-left: 50px;
  }
  .container-technologies {
    flex: none;
    width: 80%;
    text-align: center;
    margin-left: 80px;
    
    
  }
  .img-tech{
    width: 80px;
    height: 60px;
    
  }
  .img-looker, .img-bq, .img-mysql, .img-mongo {
    width: 80px;
    height: 60px;
    margin-bottom: 35px;
  }


  .img-pyton,.img-react,.img-api{
    width: 60px;
    height: 40px;
  }

  .img-contact{
  
    margin-left: 5px;
    margin-bottom: 5px;
    margin-top: 5px;
  }
  .img-contact2{
    margin-left: 5px;

    margin-bottom: 5px;
    margin-top: 5px;
  }
  .list-languages{
    padding: 15px;
  }

  /* Projects */

  .container-projects{

    width: 70%;
    text-align: center;
    margin: auto;
    margin-left: 150px;
   
  }

  .container-cards {
    margin: auto;
    text-align: center;
    width: 85%;
    display: grid;
    grid-gap: 5px;
    margin-left: 30px;
    grid-template-columns: repeat(2, minmax(180px, 1fr));
  
  }

  /*Work*/
  .work-container{
    text-align: center;
    width: 90%;
    margin: auto;
      
  }

  .img-minsait, .img-zelkhara{
   
    margin-left: 30px;
  }
  .role{
    font-size: 18px;
  }
  /*Modal*/
  .modal-content {
    background-color: white;
    width: 50%; 
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    position: relative;
    
  }

  .img-card-modal {
    width: 60%;
    margin-top: 10px;
    object-fit: cover;
    margin:auto;
    
  }
  .description-modal, .card-tech-modal{
    font-size: 15px;
    margin-top: 5px;
    margin-left: 5px;
    margin-right:5px;
    text-align: justify;
  }

  .message{
    margin-bottom: 25%;
    font-size: 15px;
  }
  
}
  
@media (max-width: 768px) {

 /*Nav*/
  .navbar-container{
    float: right;
    width: 72%;
    margin-bottom: 40px;
    text-align: left;
    margin-left: 10px;
   
  }

  .navbar-container nav {
  
    width: 90%;
    background-color: rgb(192, 196, 204);
    padding: 3px;
    margin-left: 20px;
    border-radius: 0.5rem;
    text-align: center;
    
  }  
 /*About*/
  .about-container{
    width: 65%;
  }
  .description{

    width: 80%;
    margin: auto;
    font-size: 16px;
    margin-left: 60px;

  }

  .container-technologies {

    flex: none;
    width: 80%;
    text-align: center;
    margin-left: 60px;
    
  }
 
  .img-tech{

    width: 60px;
    height: 40px;
    
  }

  .img-looker, .img-bq, .img-mysql, .img-mongo {

    width: 60px;
    height: 50px;
    margin-bottom: 35px;
  }

  .img-pyton,.img-react,.img-api{
    width: 60px;
    height: 40px;
    display:none
  }


  .img-contact{
  
    display: block;
    margin-bottom: 5px;
    margin-top: 5px;
  }
  .img-contact2{
  
    display: block;
    margin-bottom: 5px;
    margin-top: 5px;
  }
  /*Home*/
  .card-presentation{
    float:left;
    width: 25%;
    font-size: 13px;
  }

  .img-profile{
    width: 78%; 
    height: 120px;
    border-radius: 50%;
    margin-top: 15px;
    
  }

  .card-description{
    padding: 10px;
    height: max-content;
    width: auto;
  }
  .card-contact{
    height: max-content;
    margin-bottom: 10px;
  }
  h2{
    font-size: 16px;
  }

  .container-projects{
    width: 70%;
    text-align: center;
    margin: auto;
    /*background-color: aqua;*/
   
    
  }
  .container-cards {
   
    grid-template-columns: repeat(2, minmax(210px, 1fr));
    font-size: 14px;
   
  
  }

  .modal-content {
    background-color: white;
    width: 85%; /* Ocupa el 50% del ancho de la pantalla */
    padding: 0;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    position: relative;
  
  }
  .description-modal,.card-tech-modal{
    font-size: 15px;
    margin-top: 5px;
    margin-left: 25px;
    margin-right:55px;
   
  }
  .message{
    margin-bottom: 25%;
    font-size: 13px;
  }
  
  /*Work */
  .work-container{

    text-align: center;
    width: 90%;
    margin: auto;
    
  }

  .img-minsait, .img-zelkhara{
  
    margin-left: 30px;
    width: 150px;
    height: 100px;
  }
  .role{
    font-size: 16px;
  }
  .desc-role{
    font-size: 15px;
  }

  .modal-content {

    background-color: white;
    width: 85%; /* Ocupa el 50% del ancho de la pantalla */
    padding: 0;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    position: relative;
    
  }

}

@media (max-width: 468px) {
  /*Nav*/
  .navbar-container{
    text-align: center;
    width: 100%;
    font-size: 15px;
    margin-bottom: 0;
    text-align: center;
    margin-top: 0;
   
  }

  .navbar-container nav {
  
    padding: 1px;
    text-align: center;
    font-size: 15px;
    width: 90%;
    margin: auto;
   
    
  } 
  .nav-link{
    font-size: 18px;
  }

  /*Home*/
  .img-profile{
    width: 80%;  
    height: 100px;
    border-radius: 50%;
    margin-top: 15px;
    
  }

  /*About*/
  .about-container{

    width: 60%;
    margin-top: 0;
    overflow: auto;
    
    
  }
  .description{
    width: 90%;
    margin: auto;
    text-align: justify;
    font-size: 13px;
    margin-top: 10px;
  }
  .card-presentation{
    float:left;
    width: 35%;
    height: fit-content;
    text-align: center;
    margin: 0%;
    
  }
  .card-description{
    padding: 5px;
    height: fit-content;
    width: auto;
    text-align: center;
    font-size: 12px;
  }
  .list-languages{
    text-align: left;
    margin-left: 0%;
   
  }
  .links{
    font-size: 10px;
  }
  .img-location{
    display: none;
  }
  h4{
    text-align: left;
  }

  .profile, .title-tech{
    font-size: 13px;
  }

  /*About*/
  .img-tech{
    width: 60px;
    height: 40px;
    
  }

  .container-technologies {
    width: 90%;
    text-align: center;
    margin-left: 10px;
     
  }
  .img-looker, .img-bq, .img-mysql, .img-mongo {
    width: 50px;
    height: 40px;
    margin-bottom: 35px;
  }
  
  
  .img-pyton,.img-react,.img-api{
    width: 40px;
    height: 30px;
  }
  
  .img-contact{
   
    margin-left: 5px;
    margin-bottom: 5px;
    margin-top: 5px;
  }
  .img-contact2{
    margin-left: 5px;
  
    margin-bottom: 5px;
    margin-top: 5px;
  }
  .img-mysql{
    display: none;
  }

  /* Projects */

  .container-projects{
    
    width: 60%;
    margin-top: 0px;
     
  }

  .container-cards {
   
    grid-template-columns: repeat(1, minmax(150px, 1fr));
    font-size: 10px;
    font-weight: bold;
  
  }
  .tittle-project-modal{
    font-weight: bold;
  }
 
   /*Work*/
   .work-container{
    text-align: center;
    width: 65%;
    margin: auto;
    overflow: auto;
    margin-left: 0;
      
  }

  .work-place, .work-place1{
    margin: auto;
    width: 100%;
    text-align:left ;
    font-size: 12px;
  
  }

  .img-minsait, .img-zelkhara{
   
    margin-left: 30px;
    width: 80px;
    height: 50px;
    float: none;
    
  }
  .role{
    font-size: 12px;
  }

  .desc-role{
  
    font-size: 12px;
  }

  .button-details, .button-source, .close-modal {
    font-size: 15px;
    padding: 6px;
  }
  
  /*Modal*/
  .description-modal, .card-tech-modal {
    font-size: 13px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
  }

  .modal-content {
    background-color: white;
    width: 70%; /* Ocupa el 50% del ancho de la pantalla */
    padding: 20px;
    height: 60%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    position: relative;
    
  }
  .tittle-project-modal{
    margin-top: 0;
    margin-bottom: 0;
  }

  .img-card-modal {
    display: none;
    
  }
  .message{
    margin-bottom: 25%;
    font-size: 12px;
  }
  

  /* Ajustes para otros elementos si es necesario */
}


